# Node modules
frontend/node_modules/
backend/node_modules/
# Environment variables
backend/.env
logs/
*.log
frontend/dist/
dist/
# OS Files
# ==========================
.DS_Store
Thumbs.db

